body {
    background-color: lightgray;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 10px;
}

nav button {
    background: transparent;
    color: purple;
    border: none;
}


main {
    text-align: center;
    margin: 10vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
}
.start-page{
    display: none;
}
.display-questions{
    display: none;
}
.high-scores{
    display: none;
}
button {
    background:purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
}